# Terraform local files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable files (can contain secrets)
*.tfvars
*.tfvars.json

# Generated Ansible inventory
inventory.ini

# Local CLI/config files
*.auto.tfvars
*.auto.tfvars.json

# Sensitive project files
s3_backet_cred.sh
